<template name= "companylayout">
{{homelayout}}

{{#if   isInRole 'Administrador'}}

  <h2>Cadastro de empresas</h2>
    <form class="form-horizontal .new-company">
      <div class="form-group">
        <label class="control-label col-sm-2" for="fantasyname"> Fantasy Name:</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" name="fantasyname" placeholder= "Enter Fantasy name">
        </div>
     </div>

     <div class="form-group">
       <label class="control-label col-sm-2" for="name"> Name:</label>
       <div class="col-sm-3">
         <input type="text" class="form-control" name="name" placeholder= "Enter Name">
       </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="cnpj"> Cnpj:</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" name="cnpj" placeholder= "Enter Cnpj">
      </div>
   </div>
      <!-- Adicionar input para pesquisar e vincular funcionários no form-->
      <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
    </form>

  {{/if}}
</template>
