<template name= "Company">
<!--{{homelayout}}

{{#if isInRole 'Administrador'}}
-->
<div class="container">
   <div class="row">
       <!-- Users Panel -->
       <div class="col-md-6">
            <form class="collapse" id="collapseExample">
                <h4>Nova Empresa</h4>
                <div class="row">

                    <div class="col-md-12">
                      <input type="text" class="form-control" name="fantasyName" placeholder= "Nome Fantasia">
                    </div>

                </div>
             <br>
             <div class="row">
                  <div class="col-md-5">
                       <input type="text" class="form-control" name="name" placeholder= "Nome Completo">
                  </div>

                  <div class="col-md-4">
                    <input type="text" class="form-control" name="cnpj" placeholder= "Cnpj">
                  </div>

                  <div class="col-md-3">
                    <button type="submit" align="right" class="btn btn-default pull-right" value="new-company">Cadastrar</button>
                  </div>
             </div>
             <br>
          </form>

          <!-- Tabela de empresas-->
          <div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="text-center">Nome Fantasia</th>
                  <th class="text-center">Ações</th>
                </tr>
              </thead>
              <tbody>
                {{#each companies}}
                <tr>
                  <td>{{fantasyName }}</td>
                  <td class="text-center">
                    <span class="glyphicon glyphicon-zoom-in"></span>
                    <span class="glyphicon glyphicon-remove"></span>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</template>
