<template name="Deliveryorder">

{{>homelayout}}

<div class="container">
   <div class="row">
       <!-- Users Panel -->
       <div class="col-md-6">
         <h4 class="page-header">Nova Ordem de entrega
         <span class="glyphicon glyphicon-plus" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></span></h4>

          <form class="collapse" id="collapseExample">

              <div class="row">

                  <div class="col-md-12">
                    <input type="text" class="form-control" name="neighborhood" placeholder= "Bairro">
                  </div>
              </div>
           <div class="row">
                <div class="col-md-5">
                     <input type="text" class="form-control" name="address" placeholder= "Rua">
                </div>

                <div class="col-md-4">
                  <input type="text" class="form-control" name="number" placeholder= "Número">
                </div>

                <div class="col-md-3">
                  <button type="submit" align="right" class="btn btn-default pull-right" value="new-order">Cadastrar</button>
                </div>
           </div>
           <br>
          </form>
        <br>
          <!-- Tabela de ordens de entrega-->
          <h4>Ordens de Entrega </h4>
          <div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="text-center">Bairro</th>
                  <th class="text-center">Horário</th>
                  <th class="text-center">Status</th>
                </tr>
              </thead>
              <tbody>
                {{#each deliveryorders}}
                <tr>
                  <td>{{neighborhood}}</td>
                  <td> {{createdAt}}</td>
                  <td class="text-center">{{status}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</template>
