<form class="collapse" id="collapseExample">
    <h4>Nova Ordem de entrega</h4>
    <div class="row">

        <div class="col-md-12">
          <input type="text" class="form-control" name="fantasyName" placeholder= "Nome Fantasia">
        </div>
    </div>
 <br>
 <div class="row">
      <div class="col-md-5">
           <input type="text" class="form-control" name="name" placeholder= "Nome Completo">
      </div>

      <div class="col-md-4">
        <input type="text" class="form-control" name="cnpj" placeholder= "Cnpj">
      </div>

      <div class="col-md-3">
        <button type="submit" align="right" class="btn btn-default pull-right" value="new-company">Cadastrar</button>
      </div>
 </div>
 <br>
</form>
