<template name="Deliveryorder">

{{>homelayout}}

<div class="container">
   <div class="row">
       <!-- Users Panel -->
       <div class="col-md-6">
         <h4 class="page-header">Nova Ordem de entrega
         <span class="glyphicon glyphicon-plus" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></span></h4>

          <form class="collapse" id="collapseExample" name="newOrder">

              <div class="row">

                  <div class="col-md-12">
                    <input type="text" class="form-control" name="neighborhood" placeholder= "Bairro">
                  </div>
              </div>
           <div class="row">
                <div class="col-md-5">
                     <input type="text" class="form-control" name="address" placeholder= "Rua">
                </div>

                <div class="col-md-4">
                  <input type="text" class="form-control" name="number" placeholder= "Número">
                </div>

                <div class="col-md-3">
                  <button type="submit" align="right" class="btn btn-default pull-right" value="new-order">Cadastrar</button>
                </div>
           </div>
           <br>
          </form>
        <br>
          </div>
        </div>
      </div>

    <!-- Tabela de ordens de entrega-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Ordens de Entrega </h4>
                <div class="table-responsive">
                <table class="table .table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center">Tipo</th>
                            <th class="text-center">Bairro</th>
                            <th class="text-center">Horário</th>
                            <th class="text-center">Entregador</th>
                            <th class="text-center">Quantidade</th>
                            <th class="text-center">Item</th>
                            <th class="text-center">Preço</th>
                            <th class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody align="center">
                        {{#each deliveryorders}}
                        <tr>
                            <td>
                                {{#if equals type 'callcenter'}}
                                <span class="glyphicon glyphicon-phone-alt"></span>
                                {{else}}
                                <span class="glyphicon glyphicon-phone"></span>
                                {{/if}}
                            </td>
                            <td>{{neighborhood}}</td>
                            <td>{{formatDate createdAt}}</td>
                            <td>
                                <select name="deliveryMan" class="form-control">
                                    {{#each deliveryManList}}
                                      {{#each emails}}
                                        <option>{{address}}</option>
                                      {{/each}}
                                    {{/each}}
                                </select>
                            </td>

                            <td>
                                <form class="in-line-form" name="changeOrderAmount">
                                    <input class="form-control" type="number" name="amount" value={{amount}}>
                                </form>

                            </td>
                            <td>
                                <select name="productSelect" class="form-control">
                                  <option value=""> Escolha </option>
                                  {{#each products.products}}
                                      <option data-id="{{_id}}" value="{{alias}}"> {{alias}} </option>
                                   {{/each}}
                                 </select>
                                <!--<span class="glyphicon glyphicon-zoom-in" data-toggle="modal" data-target="#productModal"></span>-->
                            </td>
                            <td>
                              <select name="priceSelect" class="form-control">
                                <option value=""> Escolha </option>
                                  {{#each pricesList}}
                                  {{#each prices}}
                                    <option data-value="{{price}}">{{priceDescription}} : {{price}} R$</option>
                                    {{/each}}
                                  {{/each}}
                              </select>
                            </td>
                            <td class="text-center">ok</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        </div>
</div>

<!-- Modal de produtos-->

<div class="modal fade" id="productModal" role="dialog">
   <div class="modal-dialog">

     <!-- Modal content-->
     <div class="modal-content">

       <div class="modal-body">
         <h4 class="modal-title" id="myModal">
           Escolha um produto
       </h4>
         <form name="getProducts">
           <input list="productsList" name ="productsinput">
           <datalist id= "productsList">
             {{#each products.products}}
             <option value="{{_id}}"> {{alias}}</option>
              {{/each}}
         </datalist>
         <input type="submit">
        </form>
       </div>
     </div>

   </div>
 </div>


</template>
