<template name="Employee">
{{> homelayout }}
{{#if isInRole 'Administrador,Gestor' }}
<h4 class="page-header">Users</h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Email Address</th>
      <th class="text-center"> Adicionar à empresa </th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td> {{emails.[0].address}} </td>
      <td class="text-center"> <span class="glyphicon glyphicon-ok"></span> </td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{/if}}
</template>
