<template  name="homelayout">
  <header>
    <!-- Theme -->
    <link href="css/theme/black-white.css" rel="stylesheet" data-color="" id="theme">
    <link href="css/styles.css" rel="stylesheet" data-color="" id="theme">

    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
          <div class="container-fluid">

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
              <ul class="nav navbar-nav">
                <li class=""><a href="/">EGAZ</a></li>

              </ul>
              {{#if currentUser}}
              <ul class="nav navbar-nav navbar-right">
                <button type="button" id="at-nav-button" class="btn btn-default navbar-btn"  onclick=AccountsTemplates.logout()> Sair </button>
              </ul>
              {{else}}

              {{/if}}
            </div>
          </div>
        </div>
      </nav>



  </header>
      {{#unless currentUser}}
        {{> signinlayout}}
      {{else}}
        {{#if isInRole 'Gestor'}}
            {{> managerlayout}}
        {{/if}}
        {{/unless}}
        
        <!--{{#if isInRole 'Colaborador'}}
          {{> colaboradorlayout}}
        {{/if }}
        {{else }} {{# if isInRole 'Administrador'}}
          {{> managementlayout}}
        {{/if}}
        {{else }} {{#ifisInRole 'Gestor'}}
          {{> gestorlayout}}
        {{/if}}
        {{else }} {{#if isInRole 'Convidado'}}
        {{else}}
        {{/if}}

 -->

</template>
