<template name="users">

  {{> homelayout }}
  {{#if isInRole 'Administrador'}}
    <h4 class="page-header">Users</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Email Address</th>
          <th class="text-center">Role</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
          <tr>
            <td class="text-left text-middle">alo <!-- {{emails.[0].address}} --></td>
            <td>
              oi
              <!--<select name="userRole" class="form-control">
                <option selected="{{selected roles.[0] 'Administrador'}}" value="Administrador">Administrador</option>
                <option selected="{{selected roles.[0] 'Gestor'}}" value="Gestor">Gestor</option>
                <option selected="{{selected roles.[0] 'employee'}}" value="employee">Employee</option>
              </select> -->
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}

</template>
