<template name="managerlayout">

    <link href="css/sidebar.css" rel="stylesheet" data-color="" id="theme">


    <nav class="navbar navbar-fixed-left navbar-minimal animate" role="navigation">
		<div class="navbar-toggler animate">
			<span class="menu-icon"></span>
		</div>
		<ul class="navbar-menu animate">
			<li>
				<a href="#company" class="animate">
					<span class="desc animate"> Dados da Empresa </span>
					<span class="glyphicon glyphicon-home"></span>
				</a>
			</li>
			<li>
				<a href="/employee" class="animate">
					<span class="desc animate"> Funcionários </span>
					<span class="glyphicon glyphicon-user"></span>
				</a>
			</li>
            <li>
				<a href="#products" class="animate">
					<span class="desc animate"> Produtos </span>
					<span class="glyphicon glyphicon-tags"></span>
				</a>
			</li>
			<li>
				<a href="#reports" class="animate">
					<span class="desc animate"> Relatórios </span>
					<span class="glyphicon glyphicon-list-alt"></span>
				</a>
			</li>
            <li>
				<a href="#income" class="animate">
					<span class="desc animate"> Faturamento </span>
					<span class="glyphicon glyphicon-piggy-bank"></span>
				</a>
			</li>
		</ul>
	</nav>

<body>
    <script src="js/sidebar.js"></script>
</body>
</template>
