<template name="signinlayout">
<header>
  <!-- Animated Headlines -->
  <link rel="stylesheet" href="/css/animated-hedlines.css">
  <!-- Animation Libraries -->
  <link rel="stylesheet" href="css/animate.min.css">
  <link rel="stylesheet" href="css/magic.min.css">
  </header>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="hs-content-inner">
                <div class=" init-animation-2 delay0-6s">
                    <div class="row" align="center">
                        <h2 class="hs-text-14">Você busca</h2>
                    </div>
                    <div class="row" align="center">
                    <h1 class="cd-headline letters scale hs-text-11 font-second">
                            <span class="cd-words-wrapper">
                                <b class="is-visible">EFICIÊNCIA</b>
                                <b>AGILIDADE</b>
                                <b>CONTROLE</b>
                                <b>RESULTADOS</b>
                            </span>
                        </h1>
                    </div>
                </div>

                <div class="row" align="center">
                    <h2 class="hs-text-14">No seu negócio?</h2>
                </div>

                <div class="row" align="center">
                    <br>
                    <div class="in-page-scroll  init-animation-2 delay1-0s">
                        <a href="#about-section" class="btn btn-animated btn-split btn-transparent-dark ripple-alone " data-text="Quero usar"><span>Como funciona?</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            {{> atForm }}
        </div>
    </div>
</div>
<body>
    <!-- JS Scripts -->
    <script src="js/modernizr.min.js"></script>
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/jquery.easing.1.3.min.js"></script>
    <script src="js/jquery.animsition.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/skrollr.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/animateSlider.js"></script>
    <script src="js/animated-headlines.js"></script>
    <script src="js/jquery.mb.YTPlayer.min.js"></script>
    <script src="js/jquery.vide.min.js"></script>
    <script src="js/jquery.particleground.min.js"></script>
    <script src="js/scripts.min.js"></script>
    <!--/ End JS Scripts -->
</body>
</template>
