<template name="managementlayout">
  {{> homelayout }}
  {{#if isInRole 'Gestor'}}

    <h4 class="page-header">Usuários</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Email Address</th>
          <th class="text-center">Role</th>
        </tr>
      </thead>
      <tbody>


        {{#each users }}
          <tr>
            <td class="text-left text-middle">{{#if isCurrentUser _id}}<label class="label label-success">You!</label>{{/if}} {{emails.[0].address}}</td>
            <td>
              <!-- {{disableIfAdmin _id}} -->
              <select name="userRole" class="form-control">
                <option selected="{{selected roles.[0] 'Administrador'}}" value="Administrador">Admin</option>
                <option selected="{{selected roles.[0] 'Gestor'}}" value="Gestor">Gestor</option>
                <option selected="{{selected roles.[0] 'Colaborador'}}" value="Colaborador">Colaborador</option>
                <option selected="{{selected roles.[0] 'Entregador'}}" value="Entregador">Entregador</option>
              </select>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    [...]
  {{/if}}
</template>
